{% extends 'blog/base.html' %}

{% block page_header %}
<h1>Posts</h1>
{% endblock page_header %}
{% block content %}
<ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'blog:post' post.id %}">{{post.name}}</a>
        <span class="badge bg-primary rounded-pill">🖒{{post.view_count}}</span>
    </li>
    <br/>
    {% endfor %}
</ul>
{% if user.is_superuser %}
<a class="btn btn-primary btn-sm " href="{% url 'blog:new_post' %}" role="button">New post</a>
{% endif %}
{% endblock content %}